<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
 <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Patient Details</title>
    
</head>
<link th:href="@{/css/main.css}" rel="stylesheet">
<link th:href="@{/js/main.js}" rel="stylesheet">
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

<div th:replace="fragments :: menu"></div>
<body>

  
    <div class="container my-2">
        <div class="card">
            <div class="card-body">
                <div th:switch="${patients}" class="container my-5">
                    <p class="my-5">
                        <a href="/Patientregistration" class="btn btn-warning">  Add Patient </a>
                    </p>
                    <div class="col-md-10">
                     <div class="alert alert-warning" th:if="${successMessage}" ></div>
                        <h2 th:case="null">No Patient yet!</h2>
                        <div th:case="*">
                            <table class="table table-striped table-responsive-md">
                                <thead>
                                    <tr>
                                         <th>First Name</th>
                                        <th>Last Name</th>
                                         <th>Email</th>
                                         <th>Mobile No</th>
                                        <th>Address</th>
                                         <th>DOB</th>
                                          <th>gender</th>
                                          <th>Blood Group</th>
                                          <th>weight</th>
                                          <th>Patient Disease</th>
                                          
                                        
                                        
                                        <th colspan=2>Actions</th>
                                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="patient: ${patients}">  <!-- 1 -->
                                      
                                        <td th:text="${patient.firstName}"></td>
                                        <td th:text="${patient.lastName}"></td>
                                        <td th:text="${patient.email}"></td>
                                           <td th:text="${patient.mobile_No}"></td>
                                        <td th:text="${patient.address}"></td>
                                        <td th:text="${patient.DOB}"></td>
                                       <td th:text="${patient.gender}"></td>
                                      <td th:text="${patient.blood_Group}"></td>
                                        <td th:text="${patient.weight}"></td>
                                          <td th:text="${patient.patient_Disease}"></td>
                                         <!--   <td th:text="${patient.doctor.d_id}"></td> -->
                                         <td><a th:href="@{/updateFormPatient/{id}(id=${patient.id})}" class="btn btn-primary"><i class="fas fa-user-edit ml-2">Edit</i></a></td> 
                                        <td><a th:href="@{/patients/deletePat/{id}(id=${patient.id})}" class="btn btn-primary"><i class="fas fa-user-times ml-2">Delete</i></a></td> 
                                  
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
    <div th:replace="fragments :: pageFooter"></div>
</body>

</html>